// SECTION WELCOME
.duo {
    width: 100%;
    background: url(http://cepegra-labs.be/webdesign/fed2021/cours/blanc/images/icons/pattern1.png) center/cover;
    text-align: center;

    .wrapper_duo {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        justify-content: space-around;
        gap: 20px;
        align-items: center;
        padding: 100px 0;

        .welc {
            width: 40%;
        }
    }
}

///////////////////

// SECTION DISCOVER
.discover {
    height: 400px;
    background: url(../img/bg-intro-01.jpg) center/cover;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .black_title {
        color: white;
    }
}

///////////////////

// SECTION BLOG TRIO
.trio {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;

    p {
        padding-right: 30px;
    }
}

///////////////////

// SECTION OUR MENU
.our_menu {
    width: 100%;
    padding: 50px 30px;
    background: url(http://cepegra-labs.be/webdesign/fed2021/cours/blanc/images/icons/pattern2.png);
    text-align: center;


    .img_gallery {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(3, 230px);
        justify-content: center;
        gap: 2%;

        div {
            display: block;
            overflow: hidden;
            border-radius: 10px;


            img {
                width: 100%;
                height: 100%;
                transition: .5s all ease-in-out;
            }
        }

        .lunch {
            grid-area: 1 / 1 / 3 / 2;
            position: relative;

        }

        .dinner {
            grid-area: 1 / 2 / 3 / 3;
            position: relative;
        }

        .happy {
            grid-area: 3 / 1 / 4 / 3;
            position: relative;
        }

        .drink {
            grid-area: 1 / 3 / 2 / 4;
            position: relative;
        }

        .starter {
            grid-area: 2 / 3 / 3 / 4;
            position: relative;
        }

        .dessert {
            grid-area: 3 / 3 / 4 / 4;
            position: relative;
        }

        a {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(255, 255, 255, 0.918);
            color: #ec1d25;
            padding: 15px 25px;
            border-radius: 5px;
            font-size: 20px;
            transition: .5s all ease-in-out;

            &:hover {
                background-color: #ec1d25;
                color: white;
            }
        }
    }
    @media screen and(max-width: 768px) {
        .img_gallery {

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            justify-content: center;
            gap: 2%;
    
            div {
                display: block;
                overflow: hidden;
                border-radius: 10px;
    
    
                img {
                    width: 100%;
                    height: 100%;
                    transition: .5s all ease-in-out;
                }
            }
    
            .lunch {
                grid-area: 1 / 1 / 2 / 2;
    
            }
    
            .dinner {
                grid-area: 1 / 2 / 2 / 3;
            }
    
            .happy {
                grid-area: 2 / 1 / 3 / 2;
            }
    
            .drink {
                grid-area: 2 / 2 / 3 / 3;
            }
    
            .starter {
                grid-area: 3 / 1 / 4 / 2;
            }
    
            .dessert {
                grid-area: 3 / 2 / 4 / 3;  
            }
        }
    
    }
}

///////////////////

// SECTION EVENTS
.events {
    width: 100%;
    height: 700px;
    text-align: center;
    background: url(../img/bg-event-02.jpg) center/cover;

    .red_title {
        padding: 50px 0 0;
        margin: 0;
    }

    h2 {
        color: white;
    }

    .wrapper_ticket {
        max-width: 1200px;
        margin: 0 auto;
        height: 60%;
        padding: 0 30px;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-self: center;

        .event_date {
            writing-mode: vertical-rl;
            width: 45px;
            padding: 15px;
            justify-self: center;
            background-color: #ec1d24b2;
            border-radius: 0 15px 15px 0;
            color: white;
            border-radius: 15px 0 0 15px;
        }

        .event_img {
            width: 100%;
            background: url(../img/event-01.jpg) center/cover;
        }

        .event_txt {
            width: 100%;
            padding: 50px 50px;
            background-color: white;
            border-radius: 0 15px 15px 0;

            .timer {
                width: 100%;
                display: flex;
                justify-content: space-around;

                .time {
                    font-size: 45px;
                    color: #ec1d25;
                    margin-bottom: 0;
                }

                p {
                    margin-top: 0;
                    text-transform: uppercase;
                }
            }
        }
    }
}


// SECTION BOOK A TABLE
.book {
    .wrapper_duo {
        max-width: 1200px;
        margin: 0 auto;

        .duo_txt {
            width: 50%;
            justify-content: space-between;
            padding: 0 50px;

        }
    }
}

///////////////////

// SECTION REVIEW
.review {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;

    .swiper {
        max-width: 1200px;

        --swiper-theme-color: #ec1d25;
.swiper-slide {
    height: 100%;
    height: fit-content;
}
        .avatar {
            width: 100px;
            margin: 0 auto 40px;

            img {
                width: 100%;
                border: 3px solid #ec1d25;
                border-radius: 50%;
            }
        }

        p {
            width: 60%;
            margin: 0 auto 30px;
        }

        .stars {
            color: #ec1d25;
            margin-bottom: 40px;
        }

        .writer {
padding-bottom: 50px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 12px;
            display: block;
        }

    }
}

///////////////////

// SECTION DISCOVER VIDEO
.video {
    height: 500px;
    background: url(../img/bg-cover-video-02.jpg) center/cover;
    background-attachment: fixed;

    i {
        font-size: 70px;
        color: white;
        transition: .3s all ease-in-out;

        &:hover {
            color: #ec1d24a5;
        }
    }
}

///////////////////

// SECTION LATEST NEWS
.latest {
    .trio_img {
        position: relative;

        span {
            position: absolute;
            bottom: 5%;
            left: 3%;
            color: white;
            background-color: rgba(0, 0, 0, 0.464);
            padding: 5px 15px;
            border-radius: 5px;
            font-size: 12px;
        }
    }
}

///////////////////

// SECTION SIGN UP
.sign_up {
    width: 100%;
    height: 250px;
    background: url(http://cepegra-labs.be/webdesign/fed2021/cours/blanc/images/icons/pattern1.png) center/cover;

    .wrapper_sign {
        height: 100%;
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 30px;
        align-items: center;
        align-content: center;

        input {
            padding: 8px;
            border-radius: 5px;
        }
    }
}

///////////////////
// RESPONSIVE 
@media (max-width: 990px) {
    .events {
        height: 1200px;
        margin: 0;

        .wrapper_ticket {
            height: 100%;
            margin: 0 3%;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: stretch;

            .event_date {
                writing-mode: horizontal-tb;
                width: 100%;
                color: white;
                border-radius: 15px 15px 0 0;
            }

            .event_img {
                height: 390px;
            }

            .event_txt {
                width: 100%;
                padding: 50px 50px;
                background-color: white;
                border-radius: 0 0 15px 15px;
                .timer {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
    
                    .time {
                        font-size: 30px;
                        color: #ec1d25;
                        margin-bottom: 0;
                    }
    
                    p {
                        font-size: 10px;
                        margin-top: 0;
                        text-transform: uppercase;
                    }
                }
                h1{
                    font-size: 20px;
                }
                p{
                    font-size: 12px;
                }
            }
        }
    }

    .book {
        width: 100%;
        .wrapper_duo {
            display: flex;
            flex-direction: column;
            .duo_txt {
                width: 100%;
            }
        }
        .duo_img {
            margin-top: 30px;
        }
    }

    .wrapper_sign {
        display: flex;
        flex-direction: column;

        h1 {
            margin: 0;
        }

    }

}

///////////////////

@media screen and(max-width: 768px) {
    .duo{
        width: 100%;
    .wrapper_duo {
        display: flex;
        flex-direction: column;
        text-align: center;
        .welc{
            width: 90%;
        }
    }
    }
    .trio{
        display: flex;
        flex-direction: column;
    }
}
